*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:Helvetica,Arial, sans-serif
}
#main{

}
#header{
    position: relative;
    width: 100%;
    background-color: rgb(34, 34, 34);
}

#h-top{
    max-width: 1230px;
    margin: 0 auto;
    height: 30px;
    background-color: rgb(34, 34, 34);
    color: #fff;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}
#h-top .hotline{
    padding-left: 20px;
    line-height: 32px;
    font-size: 12px;
}
#header-icon{
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
}
#header-icon i{
    line-height: 20px;
    padding: 6px;
}
.header-right {
   list-style: none;
   display: flex;
   justify-content: space-between;
   
}
.header-right li a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    text-transform: uppercase;
    font-size: 11px;
}

#h-bot{
    z-index: 999;
    
    padding: 0px;
    width: 100%;
    height: 70px;
    background-color: #000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#nav{
    margin-top:0px;
    min-width: 1280px;
    margin: 0px 260px;
    height: 68px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding-right: 368px;
    padding-left: 30px;
}
#nav li{
    display: inline-block;
    position: relative;
}
#nav li a{
    font-size: 14px;
    color:#fff;
    text-decoration: none;
    line-height: 50px;
    text-transform:uppercase;
    padding: 5px 5px;
    display: inline-block;
}
#nav .sub-nav{
    position: absolute;
    background-color: #fff;
    z-index: 999;
    list-style: none;
    width: 250px;
    padding: 5px 0 20px;
    display: none;
    top:70px;
}
#nav .sub-nav li a{
    font-weight: 250;
    font-size: 17px;
    text-transform: unset;
    line-height: 40px;
}


#nav li:hover .sub-nav{
    background-color: #fff;
    display: block;
   
}
#nav li:hover .sub-nav a{
    color: #000;
}
#slider{
    height: 700px;
    width: 100%;
    background-color: #333;
}
.carousel-inner{
    width: auto;
    height: 700px;
    padding-top: 0px;
}
#content{
    padding: 30px;
    background-color: rgb(240, 240, 240);
}
h5{
    padding-left: 255px;
}
.nav-2 {
  max-width: 1230;
  display: flex;
  justify-content: center;
  list-style-type:none;
  margin-top: -20px;
}
.nav-2 li a{
    text-decoration: none;
    color: #000;
}
.nav2-item{
    padding: 30px;
    text-transform: uppercase;
}
#list{ 
    max-width: 1330px;
    margin:-20px auto;
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    grid-column-gap:25px;
}

#list .item{
    height: 280px;
    padding-left: 20px;
    position: relative; 
}

#list .item img{
    width: 230px;
    height: 250px;
}

#list .item a{
    background-color: #fff;
    text-transform: uppercase;  
    text-decoration: none;
    color:black;
    line-height: 20px;
    font-size: 13px;
    top:250px;
    float: left;
    padding-left: 20px;
    position: absolute;
    width: 230px;
}
#list2 {
    margin-top:40px;
    position: relative;
    max-width: 1330px;
    display: grid;
    grid-template-columns: 410px 410px 410px;
    grid-column-gap:15px ;
    grid-template-rows: 300px 300px 300px;
    grid-row-gap:40px ;
}
#list2 .item2 img{
    width: 400px;
    height: 310px;
    margin: 20px auto;
}
.item3{
    grid-row-start: 1;
    grid-row-end: 3;
}
#list2 .item3 img{
    height:650px ;
}
h2{
    width: 300px;
    color:#fff;
    position: absolute;
    top:40px;
    padding-left: 10px;
}
#list2 .gif h2{
    top:40px;
}
#infor{
    position: absolute;
    top:1960px;
    width: 100%;
    height:450px;
    background-image: url(Image/infor.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
.row{
    max-width: 1230px;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding-left: 280px;
    padding-top:80px;
}
.row h1{
    padding-left:0px;
    padding-top:50px;
    width: 100%;
}
.row p{
    padding-top:5px ;
}
.row h4{
    font-size: 20px;
}
.row .boder {
    background-color: red;
    width: 260px;
}
#event{ 
    background-image: url(Image/back-e.jpg);
    height: 800px;
    position: relative;
    top: 180px;
}
#list-event{
    padding-top: 28px;
    padding-left: 280px;
    width: 1330px;
    display: grid;
    margin:20px auto;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap:120px;
    position: absolute;
    
}
#event h3{
    font-size: 20px;
    padding-top:50px;
    padding-left: 280px;
}
#list-event .i-event img{
    
    width: 400px;
    height: 250px;
}
.i-event a{
    position: absolute;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    float: left;
    top:350px;
    width: 400px;
    height: 200px;
    font-size: 20px;
    padding-left: 10px;
}
.i-event h4{
    background-color: #fff;
    width:400px;
    height: 100px;
    font-size: 19px;
    padding-top: 20px;
    padding-left: 10px;
}
#container{
    max-width: 1230px;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
}
#number{

    background-image:url(Image/back-number.jpg);
    height: 200px;
    position: relative;
    top:100px;
    
 
}
#trademark{
   
    position: relative;
    background-color: #fff;
    height: 130px;
    top:100px;
}
#tradef{
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin:0px auto;
}
.trade {
    width: 150px;
    margin:10px auto;
    margin-left: 5px;
    padding-right: 10px;
    margin-right: 5px;

}
.trade img{
    width: 100px;
    height: 50px;
    margin-top:25px;
    padding-right: 0px;
    padding-left:0px;
    margin-right: 10px;
}
#number .soluong{
    padding-top: 50px;
    height: 20px;
    color: #fff;
    text-align: center;
    padding-left: 100px;
    padding-right: 90px;
}
#footer{
    height: 400px;
    background-color: #333;
    width: 100%;
    padding: 50px auto;
}
.footer-infor{
    display: flex;
    justify-content:space-between;
}
.containers{
    max-width:1320px;
    margin: auto;
}
.contact{
    width: 280px;
    margin-top: 150px;
}
.contact img{
    width: 35%;
}
.contact-info{
    padding: 0;
}
.contact-info li{
    list-style: none;
    line-height: 30px;
    color: #fff;
}
.contact h6{
    font-weight: bold;
    color: #fff;
}
.input-title{
    margin-top: 10px;
    color: #fff;
}

.input {
    margin-top: 30px;
}
.input-text{
    outline: none;
    padding: 6px 10px;
    border: none;
}

.input-submit{
    outline: none;
    padding: 6px 18px;
    border:none;
    margin-left: 0px;
    background-color: red;
}
.footer-end{
    background-color: #000;
    color: #fff;
    text-align: center;
}